<!-- about-us.component.html -->
<div class="container">
    <h1>TEAM</h1>
    <div class="team-grid">
      <div class="team-member" *ngFor="let member of teamMembers">
        <img [src]="member.img" alt="{{member.name}}">
        <div class="info">
          <h2>{{member.name}}</h2>
          <p class="role">{{member.role}}</p>
          <p class="contact">
            <span>{{member.email}}</span><br>
            <span>{{member.phone}}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  