<body>
  <div class="titulo">
    <h1><strong>Our Services</strong></h1>
  </div>

  <div class="cards">
    <mat-card class="example-card" appearance="outlined">
      <img mat-card-image src="assets/images/customSoftDev.jpg" alt="Photo of a Shiba Inu">
      <mat-card-title class="mcTitle">Custom Software Development</mat-card-title>
      <mat-card-content>
        <p>
          Create software solutions to meet your unique requirements.
          This includes enterprise applications, business process automation tools and more.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card" appearance="outlined">
      <img mat-card-image src="assets/images/mobileAppDev.jpeg"  alt="Photo of a Shiba Inu">
      <mat-card-title class="mcTitle">Mobile App Development</mat-card-title>
      <mat-card-content>
        <p>
          Develop high-quality mobile applications.
          This includes native app development, cross-platform solutions, and progressive web apps.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card" appearance="outlined">
      <img mat-card-image src="assets/images/customWebDev.png" alt="Photo of a Shiba Inu">
      <mat-card-title class="mcTitle">Web Application Development</mat-card-title>
      <mat-card-content>
        <p>
          Design and develop robust web applications using the latest technologies and frameworks.
          This includes single-page applications, e-commerce platforms, and complex web-based systems.
        </p>
      </mat-card-content>
    </mat-card>

  </div>

  <div class="example-button-row">
    <button mat-flat-button class="mFBtn" [routerLink]="['/contact']">Contact Us</button>
  </div>
</body>

  <!-- <div class="footer">
    <p class="footerTitle">FreresLacers © 2024</p>
  </div> -->

